{% extends 'base.html' %}

{% load static %}

{% block content %}



<div id="promo">
    <div class="jumbotron text-center">
        <h1>RIMT&nbsp;</h1>
        <p>COMPUTER SCIENCE &amp; ENGINEERING DEPARTMENT</p>
        <p><a class="btn btn-primary text-center shadow" role="button">MORE</a></p>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4"
                style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                <div class="text-center bg-light border rounded shadow card" data-bss-hover-animate="pulse"><i
                        class="fa fa-user"></i>
                    <div class="text-center card-body">
                        <h3 class="text-center card-title" style="font-family: Antic, sans-serif;color: rgb(81,87,94);">
                            Student Detail</h3>
                        <p class="card-text" style="font-family: Antic, sans-serif;color: rgb(81,87,94);"></p>
                        <p id="lorem">See all the information of a student of college, Computer Science Department.</p><a class="btn btn-outline-success text-center"
                            role="button" style="font-weight: normal;font-family: Antic, sans-serif;"
                            href="#">View Detail</a>
                    </div>
                </div>
            </div>
            <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4"
                style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;margin-right: 0px;margin-bottom: 0px;">
                <div class="text-center bg-light border rounded shadow card" data-bss-hover-animate="pulse"><i
                        class="fa fa-pencil"></i>
                    <div class="text-center card-body">
                        <h3 class="card-title" style="font-family: Antic, sans-serif;color: rgb(81,87,94);">Marks Detail</h3>
                        <p id="lorem"> See performance of student in different exam  of college, Computer Science Department.</p><a class="btn btn-outline-success" role="button"
                            style="font-weight: normal;font-family: Antic, sans-serif;" href="#">Enter & View</a>
                    </div>
                </div>
            </div>
            <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4"
                style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                <div class="text-center bg-light border rounded shadow card" data-bss-hover-animate="pulse"><i
                        class="fa fa-calendar-times-o"></i>
                    <div class="text-center card-body">
                        <h3 class="card-title" style="font-family: Antic, sans-serif;color: rgb(81,87,94);">Time Table
                        </h3>
                        <p class="card-text" style="font-family: Antic, sans-serif;color: rgb(81,87,94);"></p>
                        <p id="lorem">See the schedule of all the classes of Computer Science Department.</p><a class="btn btn-outline-success" role="button"
                            style="font-weight: normal;font-family: Antic, sans-serif;" href="#">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}