{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
    <h4 class="text-center">Student Detail</h4>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Roll No.</th>
            <th scope="col">Student Name</th>
            <th scope="col">Mobile No.</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1747910053</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Bijauria</td>
          </tr>
        </tbody>
      </table>
      
</div>


{% endblock %}