{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="article-clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2" style="text-align: center;">
                <h1>Time Table&nbsp;</h1>
                <div class="intro" style="text-align: center;"><img class="img-fluid" src="assets/img/desk.jpg"><button
                        class="btn btn-primary" type="button">Button</button></div>
                <div class="intro" style="text-align: center;"><img class="img-fluid" src="assets/img/desk.jpg"><button
                        class="btn btn-primary" type="button">Button</button></div>
                <div class="intro" style="text-align: center;"><img class="img-fluid" src="assets/img/desk.jpg"><button
                        class="btn btn-primary" type="button">Button</button></div>
                <div class="intro" style="text-align: center;"><img class="img-fluid" src="assets/img/desk.jpg"><button
                        class="btn btn-primary" type="button">Button</button></div>
            </div>
        </div>
    </div>
</section>

{% endblock %}