#promo {
  padding: 40px;
}

#promo .jumbotron {
  padding: 40px;
  border-radius: 20px;
}

.footer-dark {
  margin-top: 30px;
}

.fa.fa-pencil {
  font-size: 80px;
  padding: 30px;
  color: #90ee90;
}

.fa.fa-calendar-times-o {
  padding: 30px;
  font-size: 80px;
  color: #90ee90;
}

.fa.fa-user {
  padding: 30px;
  font-size: 80px;
  color: #90ee90;
}

.nav-item {
  padding: 0 10px 0 10px;
  margin: 0 10px 0 10px;
  font-size: 20px;
}

.navbar-brand {
  font-family: sans-serif;
  font-size: 30px;
}

.nav-item:hover {
  border-radius: 5px;
  background-color: #90ee90;
}

.nav-link.active {
  padding: 10px;
}

@media (min-width: 992px) {
  .btn.btn-primary {
    border-color: #90ee90;
    font-size: 20px;
    margin-top: 20px;
    background-color: #90ee90;
  }
}

.btn.btn-primary {
  border-color: #90ee90;
  font-size: 30px;
  margin-top: 20px;
  background-color: #90ee90;
}

