{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container  border mt-4 mb-4 pt-4 pb-4">
    
    
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>Subjects</th>
                <th>Total Marks</th>
                <th>Enter Marks</th>
                
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Krishan</td>
                <td>20</td>
                <td><input type="text" name="form-control" id="marks"></td>
            </tr>
            <tr>
                <td>Krishan</td>
                <td>20</td>
                <td><input type="text" name="form-control" id="marks"></td>
            </tr>
            <tr>
                <td>Krishan</td>
                <td>20</td>
                <td><input type="text" name="form-control" id="marks"></td>
            </tr>
        </tbody>
    </table>

    <input type="submit" class="btn btn-success" value="Submit">
</div>
{% endblock %}