{% extends 'base.html' %}

{% load static %}

{% block content %}
<div id="promo">
    <div class="jumbotron text-center">
        <h1>RIMT&nbsp;</h1>
        <p>COMPUTER SCIENCE &amp; ENGINEERING DEPARTMENT</p>
        <p><a class="btn btn-primary text-center shadow" role="button">MORE</a></p>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4"
                style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                <div class="text-center bg-light border rounded shadow card" data-bss-hover-animate="pulse"><i
                        class="fa fa-user"></i>
                    <div class="text-center card-body">
                        <h3 class="text-center card-title" style="font-family: Antic, sans-serif;color: rgb(81,87,94);">
                            Student Detail</h3>
                        <p class="card-text" style="font-family: Antic, sans-serif;color: rgb(81,87,94);"></p>
                        <p id="lorem">See and add students of the class of Computer Science & Engineering Department </p><a class="btn btn-outline-success text-center" role="button"
                            style="font-weight: normal;font-family: Antic, sans-serif;" href="{% url 'student_detail' %}">View</a>
                    </div>
                </div>
            </div>
            <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4"
                style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;margin-right: 0px;margin-bottom: 0px;">
                <div class="text-center bg-light border rounded shadow card" data-bss-hover-animate="pulse"><i
                        class="fa fa-pencil"></i>
                    <div class="text-center card-body">
                        <h3 class="card-title" style="font-family: Antic, sans-serif;color: rgb(81,87,94);">Marks</h3>
                        <p class="card-text" style="font-family: Antic, sans-serif;color: rgb(81,87,94);"></p>
                        <p id="lorem">See and add marks of students  of Computer Science & Engineering Department</p><a class="btn btn-outline-success" role="button"
                            style="font-weight: normal;font-family: Antic, sans-serif;" href="{% url 'marks_detail' %}">View</a>
                    </div>
                </div>
            </div>
            <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4"
                style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                <div class="text-center bg-light border rounded shadow card" data-bss-hover-animate="pulse"><i
                        class="fa fa-calendar-times-o"></i>
                    <div class="text-center card-body">
                        <h3 class="card-title" style="font-family: Antic, sans-serif;color: rgb(81,87,94);">Time Table
                        </h3>
                        <p class="card-text" style="font-family: Antic, sans-serif;color: rgb(81,87,94);"></p>
                        <p id="lorem">See and download Time Table of the class of Computer Science & Engineering Department</p><a class="btn btn-outline-success" role="button"
                            style="font-weight: normal;font-family: Antic, sans-serif;" href="{% url 'time_table' %}">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
