{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link active" id="item-1-1-tab" data-toggle="tab" role="tab"
                    aria-controls="item-1-1" aria-selected="true" href="#item-1-1">View Student</a></li>
            <li class="nav-item"><a class="nav-link" id="item-1-2-tab" data-toggle="tab" role="tab"
                    aria-controls="item-1-2" aria-selected="false" href="#item-1-2">Add Student</a></li>
        </ul>
    </div>
    <div class="card-body">
        <div id="nav-tabContent" class="tab-content">
            <div id="item-1-1" class="tab-pane fade show active" role="tabpanel" aria-labelledby="item-1-1-tab">
                <div class="container">
                    <form action="/view_students" method="POST" class="form-inline mb-2" >
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="inputState">Select Year</label>
                            <select id="inputState" class="form-control ml-4 mr-2" name="year">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>

                        <button  type="submit" class="btn btn-primary ml-2" >View</button>
                    </form>
                    <table  class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Roll No.</th>
                                <th>Name</th>
                                <th>Year</th>
                                <th>Father's Name</th>
                                <th>Mobile No.</th>
                                <th>Email</th>
                                <th>Address</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in data %}
                            <tr>
                                <td>{{ item.roll_number }}</td>
                                <td>{{ item.student_name }}</td>
                                <td>{{ item.year }}</td>
                                <td>{{ item.father_name }}</td>
                                <td>{{ item.mobile_number }}</td>
                                <td>{{ item.mail }}</td>
                                <td>{{ item.address }}</td>
                            </tr>  
                            {% endfor %} 
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="item-1-2" class="tab-pane fade" role="tabpanel" aria-labelledby="item-1-2-tab">
                <form action="/add_student_detail" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputRoll_number4">Roll Number</label>
                            <input type="text" class="form-control" name="roll_number" placeholder="Roll Number">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputStudent_name4">Student Name</label>
                            <input type="text" class="form-control" name="student_name" placeholder="Student Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputFather's_name4">Father's Name</label>
                        <input type="text" class="form-control" name="father_name" placeholder="Father's Name">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputState">Year</label>
                            <select id="inputState" class="form-control" name="year">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputMobile_number4">Mobile Number</label>
                            <input type="text" class="form-control" name="mobile_number" placeholder="Mobile Number">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                           <input type="text" class="form-control" name="email" placeholder="xyz@gmail.com">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">Address</label>
                        <input type="text" class="form-control" name="address" placeholder="Address">
                    </div>
                    
                    <!--Success pop window-->
                    

                    <button id="open-popup-btn" type="submit" class="btn btn-primary">Add Student</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}